.button{
    margin: 10px 20px;
    padding: 10px 20px;
    border: 2px solid darkblue;
    border-radius: 5px;
    color: darkred;
    font-weight: 700;
    font-size: 22px;
    background-color: honeydew;
}

.button:hover{
    background-color: rgb(229, 229, 202);
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}